{% extends "index.html" %}

{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}

<!-- CSS to target footer on smaller devices -->

<head>
  <link rel="stylesheet" href="{% static 'css/login-style.css' %}" type="text/css">
</head>
<section class="Form my-4 mx-5">
  <div class="container">
    <div class="row login-row g-0">
      <div class="col-lg-5">
        <img src="{% static 'images/login.jpg' %}" alt="golf ball being teed up" class="img-fluid login-img">
      </div>

      <div class="col-lg-7 px-5 pt-5">
        <h3 class="font-weight-bold py-3">{% trans "Sign Out" %}</h3>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-danger">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}