* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: rgb(219, 226, 226);
}

/* Navbar */

.navbar-brand {
    font-size: 40px;
    font-weight: 600;
}

.navbar {
    position: fixed;
    transition: 200ms ease-in-out;
}

.bg-color.scrolled {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Home Section */

.wrapper {
    margin-top: 0;
}

.main-img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    position: relative;
}

.mid-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 400;
}

.about-btn {
    border: solid black 2px;
    height: 60px;
    width: 200px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.btn a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

/* About Us Section*/

#about-page {
    position: relative;
    text-align: center;
    color: black;
}

.about-img {
    margin-top: 80px;
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.about-text {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.about-para {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    font-size: 25px;
    font-weight: 400;
}

/* Classes Section*/

.row {
    margin: 80px 0 80px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lesson-image img {
    width: 100%;
    height: 400px;
}

/* Lesson Lists*/

.lesson-text {
    background-color: rgba(210, 238, 130, 0.6);
    min-height: 400px;
    position: relative;
}

.lesson-image {
    margin-top: 5px;
}

h3 {
    font-weight: bold;
    text-transform: capitalize;

}

.lesson-list {
    text-align: left;
    padding: 5px;
}

.lesson-list span {
    font-weight: bold;
}

.lesson-list li {
    margin-top: 5px;
}

/* Coaches Section */

.coaches-container {
    margin: auto;
    width: 100%;
    height: 60vh;
    position: relative;
    border-radius: 5px;
}

.col {
    margin: 2%;
    border-radius: 6px;
    width: 40%;
    height: 90vh;
}

/* Coach Description Box */

.about-coach-para {
    background-color: rgba(185, 185, 185, 0.7);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 5%;
    border-radius: 10px;
}

.about-coach-para h4 {
    font-weight: 800;
    font-size: 1.6rem;
}

/* Coach Images*/

.coach-1 {
    margin-top: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.coach-2 {
    margin-top: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}



#contact {
    margin-top: 30px;
    text-align: center;
}

/* Footer */

footer {
    background-color: #4F7942;
    height: auto;
    width: 100%;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-container h3 {
    font-weight: bold;
    line-height: 3rem;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 15px;
}

.socials a {
    color: #000;
}

.socials i {
    font-size: 1.5rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background-color: #50C878;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom a {
    text-decoration: none;
    color: #000;
    opacity: .7;
    font-weight: bold;
}

/* Login / Register Forms*/

.login-row {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}

.login-img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* Manage Bookings */
.manage_booking {
    font-size: 35px;
}

.booking-container {
    background-color: #fff;
    border-radius: 20px;
    width: 95%;
}

/* Media Queries*/

@media screen and (max-width:1048px) {
    .coaches-container {
        height: 80vh;
    }

    .mid-text {
        font-size: 40px;
    }

    .about-text {
        left: 45%;
    }

    .about-para {
        left: 45%;
        background-color: rgba(185, 185, 185, 0.7);
        border-radius: 5px;
        font-weight: 600;
        padding: 4px;
        margin-top: 5%;
    }
}

@media screen and (max-width:991px) {
    .login-img {
        display: none;
    }
}

@media screen and (max-width:845px) {
    .mid-text {
        font-size: 35px;
        top: 35%;
        text-align: center;
    }

    .about-btn {
        height: 40px;
        width: 160px;
        margin-top: 25%;

    }

    .about-btn a {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        top: 20%;
    }

    .login-row {
        margin-top: 20%;
    }

    .coach-row {
        display: block;
    }

    .coach-col {
        width: 90vw;
        height: auto;
    }

    .coaches-container {
        height: fit-content;
        padding: 5px 0 5px;
    }
}

@media screen and (max-width:695px) {
    .about-img {
        margin-top: 60px;
    }

    .row {
        margin: 60px 0 60px;
    }

    .class-col {
        width: 70vw;
    }

    .login-row {
        margin-top: 25%;
    }
}

@media screen and (max-width:635px) {
    .mid-text {
        text-align: center;
        top: 35%;
    }
}

@media screen and (max-width:565px) {
    .about-para {
        width: 80vw;
    }

    .about-text {
        font-size: 40px;
        top: 15%;
    }

}