*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.navbar-brand{
    font-size: 40px;
}

.navbar{
    position: fixed;
}

#home-page{
    margin-top: 300px;
}






