* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Navbar */

.navbar-brand {
    font-size: 40px;
    font-weight: 600;
}

.navbar {
    position: fixed;
}

/* Home Section */

.wrapper {
    margin-top: 0;
}

.main-img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: centre;
    position: relative;
}

.mid-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 400;
}

.btn {
    border: solid black 2px;
    height: 60px;
    width: 200px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn a {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

/* About Us Section*/

#about-page {
    position: relative;
    text-align: center;
    color: black;
}

.about-img {
    margin-top: 80px;
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: centre;
}

.about-text {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.about-para {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    font-size: 25px;
    font-weight: 400;
}

/* Classes Section*/

.row {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.column {
    height: 800px;
    width: 30%;
    background-color: grey;
    margin: 80px 10px;
    padding: 0;
    position: relative;
}


.lesson-image img {
    width: 100%;
    height: 400px;
}

/* Lesson Lists*/

h3 {
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 10px;
}

.lesson-list {
    text-align: left;
}

.lesson-list span {
    font-weight: bold;
}

.lesson-list li {
    margin-top: 5px;
}

.login-note {
    border-radius: 5px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 50px;
    background-color: rgba(210, 238, 130, 0.6);
}

.login-note p {
    line-height: 50px;
    color: black;
    font-weight: bold;
}

/* Make a Booking Button */

.book-btn {
    position: absolute;
    bottom: 5px;
    left: 40%;
}

.btn-sm {
    padding: 2px;
}

/* Coaches Section */

.coaches-container {
    background-image: url(/static/images/coach-container-img.jpg);
    width: 85%;
    margin: auto;
    height: 600px;
    position: relative;
    border-radius: 5px;
}

.coach-1 {
    position: absolute;
    left: 20%;
    top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.coach-2 {
    position: absolute;
    right: 20%;
    top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.about-coach-1 {
    border-radius: 5px;
    max-width: 40%;
    height: 400px;
    position: absolute;
    top: 180px;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.5);
}

.about-coach-2 {
    border-radius: 5px;
    max-width: 40%;
    height: 400px;
    position: absolute;
    top: 180px;
    right: 5%;
    background-color: rgba(255, 255, 255, 0.5);
}