{% extends "index.html" %}

{% block title %} Booking {% endblock %}


{% block content %}
{% load crispy_forms_tags %}
{% load static %}


<section class="booking_section">
    <div class="page-header align-items-start min-vh-100">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-8">
                    <h2 class="text-center mt-2 mb-3">Book a lesson with us at Improve Your Golf</h2>
                    <h5 class="text-center mt-2 mb-3">Our lessons have a maximum capacity for 10 students.</h5>
                    <hr>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-xs-10 col-sm-6 col-md-8 col-lg-6 col-xl-5">
                    <!-- Display both forms together -->
                    <form method="POST" class="mb-5 booking-enquiry full-form" action="{% url 'booking' %}">
                        <!-- Booking form -->
                        {% csrf_token %}
                        {{ customer_form | crispy }}
                        {{ booking_form | crispy}}

                        <button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
                    </form>
                    <button type="button" class="btn btn-outline-info"><a href="{% url 'manage_booking' %}">Manage
                            Bookings</a></button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}